wsdl/login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="LoginService" targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="http://ims.surfnet.nl:8095/Login?xsd=xsd2" namespace="http://tempuri.org/"/>
            <xsd:import schemaLocation="http://ims.surfnet.nl:8095/Login?xsd=xsd0"
                        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import schemaLocation="http://ims.surfnet.nl:8095/Login?xsd=xsd1"
                        namespace="http://schemas.datacontract.org/2004/07/PresentationModel.DatabaseFilter"/>
            <xsd:import schemaLocation="http://ims.surfnet.nl:8095/Login?xsd=xsd3"
                        namespace="http://schemas.datacontract.org/2004/07/PresentationModel.WcfSession"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ILoginService_Login_InputMessage">
        <wsdl:part name="parameters" element="tns:Login"/>
    </wsdl:message>
    <wsdl:message name="ILoginService_Login_OutputMessage">
        <wsdl:part name="parameters" element="tns:LoginResponse"/>
    </wsdl:message>
    <wsdl:message name="ILoginService_Logout_InputMessage">
        <wsdl:part name="parameters" element="tns:Logout"/>
    </wsdl:message>
    <wsdl:message name="ILoginService_Logout_OutputMessage">
        <wsdl:part name="parameters" element="tns:LogoutResponse"/>
    </wsdl:message>
    <wsdl:message name="ILoginService_GetUserName_InputMessage">
        <wsdl:part name="parameters" element="tns:GetUserName"/>
    </wsdl:message>
    <wsdl:message name="ILoginService_GetUserName_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetUserNameResponse"/>
    </wsdl:message>
    <wsdl:portType name="ILoginService">
        <wsdl:operation name="Login">
            <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/Login"
                        message="tns:ILoginService_Login_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/LoginResponse"
                         message="tns:ILoginService_Login_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Logout">
            <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/Logout"
                        message="tns:ILoginService_Logout_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/LogoutResponse"
                         message="tns:ILoginService_Logout_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetUserName">
            <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetUserName"
                        message="tns:ILoginService_GetUserName_InputMessage"/>
            <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetUserNameResponse"
                         message="tns:ILoginService_GetUserName_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_ILoginService" type="tns:ILoginService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Login">
            <soap:operation soapAction="http://tempuri.org/ILoginService/Login" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Logout">
            <soap:operation soapAction="http://tempuri.org/ILoginService/Logout" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetUserName">
            <soap:operation soapAction="http://tempuri.org/ILoginService/GetUserName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LoginService">
        <wsdl:port name="BasicHttpBinding_ILoginService" binding="tns:BasicHttpBinding_ILoginService">
            <soap:address location="http://ims.surfnet.nl:8095/Login/imsHttp"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>